{% extends "base/base.html" %}
{% load static %}
{% block title %}
    Business Profile
{% endblock title %}

{% block sidebar %} {% endblock sidebar%}
{% block content %}


                <div class="container">
                    <div class="row container mb-3">
                        <nav aria-label="breadcrumb">
                          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                            <li class="breadcrumb-item text-sm text-white">Pages</li>
                            <li class="breadcrumb-item text-sm">
                              <a class="text-white" href="{% url 'core:dashboard' %}">
                                Dashboard
                              </a>
                            </li>
                            <li class="breadcrumb-item opacity-5 text-sm text-white active" aria-current="page">
                                Create Profile
                            </li>
                          </ol>
                          {% comment %} <h6 class="font-weight-bolder text-white mb-0">Dashboard</h6> {% endcomment %}
                        </nav>
                      </div>
                    <div class="row">
                        <div class="col-lg-10 col-md-12 col-sm-12 mb-2">
                            <div class="card ">
                                <div class="card-header pb-0 text-start">
                                    <div class="card-header pb-0">
                                        <div class="d-flex align-items-center">
                                            <h4 class="font-weight-bolder">Create Business Profile</h4>
                                          <button class="btn btn-primary btn-sm ms-auto">Settings</button>
                                        </div>
                                      </div>
                                    
                                    {% comment %} <p class="mb-0">Enter your email</p> {% endcomment %}
                                    {% for message in messages %}
                                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                            {{ message }}
                                            <button type="button"
                                                    class="btn-close"
                                                    data-bs-dismiss="alert"
                                                    aria-label="Close"></button>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="card-body">
                                    <form method="post">
                                        {% csrf_token %}
                                        <div class="row">
                                            {% for field in form %}
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="{{ field.name }}" class="form-control-label">
                                                            {{ field.label|title }}</label>
                                                        {{ field }}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <button type="submit" class="btn btn-primary w-100">Create Profile</button>
                                    </form>
                                    <hr class="horizontal light">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    {% endblock content %}
