{% extends "base/base.html" %} 
{% load static %} 
{% load humanize %}
{% block title %}
 Products
{% endblock title %} 

{% block content %}

      <div class="container">
        
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="row container mb-3">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                    <li class="breadcrumb-item text-sm text-white">Pages</li>
                    <li class="breadcrumb-item text-sm">
                      <a class="text-white" href="{% url 'core:dashboard' %}">
                        Dashboard
                      </a>
                    </li>
                    <li class="breadcrumb-item text-sm">
                      <a class="text-white" href="{% url 'core:products' %}">
                        Products
                      </a>
                    </li>
                    <li class="breadcrumb-item opacity-5 text-sm text-white active" aria-current="page">{{ product }} Instances</li>
                  </ol>
                  {% comment %} <h6 class="font-weight-bolder text-white mb-0">Dashboard</h6> {% endcomment %}
                </nav>
              </div>
                <div class="card">
                <div class="card-header pb-0 text-start">
                    <div class="d-flex align-items-center">
                        <h4 class="font-weight-bolder"> Instances for {{ product }}</h4>
                      <button class="btn btn-primary btn-sm ms-auto"
                        data-bs-target="#create-modal" 
                        data-bs-toggle="modal">
                        + New Product Instance
                    </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example" class="display table-primary" style="width:100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Product</th>
                                    <th>Manufactured</th>
                                    <th>Expiry Date</th>
                                    <th>Action</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for instance in product_instances %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ instance.product.name }}</td>
                                    <td>{{ instance.manufactured|date:"D, M j, Y H:i:s" }}</td>
                                    <td>{{ instance.expiry_date|date:"D, M j, Y H:i:s" }}</td>
                                    {% comment %} <td> <a class="btn btn-sm btn-primary"
                                      onclick="updateModal('{{ instance.pk }}', '{{ instance.manufactured|date:"D, M j, Y H:i:s" }}', '{{ instance }}')" 
                                      href="" data-bs-toggle="modal" data-bs-target="#update-modal">
                                          Update
                                      </a>
                                    </td> {% endcomment %}
                                    <td>
                                      {% comment %} <a class="btn btn-sm btn-danger" href="" 
                                      onclick="deleteModal('{{ instance }}', '{{ instance.pk}}')"
                                      data-bs-toggle="modal" data-bs-target="#delete-modal">
                                            Delete
                                        </a> {% endcomment %}

                                        <div class="dropdown">
                                          <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                            <!-- Three dots stacked on top of each other -->
                                            <span>Actions</span>
                                          </button>
                                          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                              <li><a class="dropdown-item" href="" 
                                                onclick="updateModal('{{ instance.pk }}', '{{ instance.manufactured|date:"D, M j, Y H:i:s" }}', '{{ instance }}')" 
                                              data-bs-toggle="modal" data-bs-target="#update-modal">Edit</a></li>
                                              <li><a class="dropdown-item" href="" onclick="deleteModal('{{ instance }}', '{{ instance.pk}}')"
                                                data-bs-toggle="modal" data-bs-target="#delete-modal">Delete</a></li>
                                          </ul>
                                        </div>
                                    </td>
                                    <td>
                                      <a class="btn btn-sm btn-success" href="" data-bs-toggle="modal" data-bs-target="#qr-modal"
                                              onclick="showQr('{{ instance.pk }}', '{{ instance.name }}', '{{ instance.qr.url }}')">Print</a>
                                    </td>
                                </tr>

                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
                </div>
            </div>
        </div>
      </div>
    </div>
      <div class="modal fade" id="create-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
            <form role="form" method="post" id="create-form">

          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New Instance for {{ product }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
                {% csrf_token %} 
                {% for field in form %}
                    <label for="id_{{field.name}}">
                        {{ field.label }}
                    </label>
                    <div class="mb-1">
                        {{ field }}
                    </div>
                {% endfor %}
                
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
        </form>

        </div>
      </div>
    </div>
    <div class="modal fade" id="update-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
            <form role="form" method="post" action="{% url 'core:update_product_instance' %}">

          <div class="modal-header">
            <h5 class="modal-title" id="edit-modal-title"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <input type="hidden" name="instance_id" id="update-instance-id">
          <div class="modal-body">
                {% csrf_token %} 
                {% for field in edit_form %}
                    <label for="id_{{field.name}}">
                        {{ field.label }}
                    </label>
                    <div class="mb-1">
                        {{ field }}
                    </div>
                {% endfor %}
                
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
        </form>

        </div>
      </div>
    </div>

    <div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
            <form role="form" method="post" action="{% url 'core:delete_product_instance' %}">
              {% csrf_token %}
            <input type="hidden" name="instance_id" id="iid">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete {{ product }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
                
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-danger">Delete</button>
          </div>
        </form>

        </div>
      </div>
    </div>
    <div class="modal fade" id="qr-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
            <form role="form" method="post" action="{% url 'core:download_qr' 'ProductInstance' %}">
              {% csrf_token %}
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <input type="hidden" name="pid" id="instance_id">
          <div class="modal-body text-center">
               <img src="" alt="" id="qr-image">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success" data-bs-dismiss="modal">
              Print SVG</button>
            <button type="button" class="btn btn-primary" onclick="downloadPng();"
            data-bs-dismiss="modal">Print PNG</button>
          </div>
        </form>
        </div>
      </div>
    </div>

    <form method='post' action="{% url 'core:download_qr_png' 'Productinstance' %}" id="download-png-button">
      {% csrf_token %}
      <input type="hidden" name="pid" id='png-id'>
    </form>

{% endblock content %}
{% block extra_script %}
<script>
    new DataTable("#example");

    function downloadPng(pk) {
      $("#png-id").val($("#instance_id").val())
      $("#download-png-button").submit();
    }

    $(document).ready(function() {
      $("#id_product").attr('disabled', 'disabled');
      $("#id_manufactured, #id_edit-manufactured").flatpickr({
        enableTime: true,
        dateFormat: "Y-m-d H:i",
      });

      $("#create-form").submit(function() {
        $(this).find(':input').prop('disabled', false);
      })
    })
    function deleteModal(instance_name, instance_id){
      $("#delete-modal .modal-body").html('Are you sure you want to delete ' + instance_name);
      $("#delete-modal #iid").val(instance_id);
    }

    // #id_edit-session option[value="${sess_id}"]`).prop('selected', true).trigger('change');

    function updateModal(pk, manufactured, name){
      $("#update-modal #update-instance-id").val(pk);
      $("#update-modal #edit-modal-title").html('Update ' + name);
      $(`#update-modal #id_edit-product option[value="${pk}"]`).prop('selected', true).trigger('change');
      $("#update-modal #id_edit-manufactured").val(convertToDatetimeLocal(manufactured));


    }

    function convertToDatetimeLocal(date) {
      const dateObj = new Date(date);
      const year = dateObj.getFullYear();
      const month = (dateObj.getMonth() + 1).toString().padStart(2, '0');
      const day = dateObj.getDate().toString().padStart(2, '0');
      const hours = dateObj.getHours().toString().padStart(2, '0');
      const minutes = dateObj.getMinutes().toString().padStart(2, '0');
    
      return `${year}-${month}-${day}T${hours}:${minutes}`;
    }

    function showQr(pk, name, url) {
      $("#qr-modal #exampleModalLabel").html('Print QR code');
      $("#qr-modal #qr-image").prop('src', url);
      $("#qr-modal #instance_id").val(pk);
      $("#qr-modal #qr-image").prop('alt', 'Qr code for '+ name);
    }
</script>
{% endblock%}